<a href="https://colab.research.google.com/github/Anushree-B/Lie-detector/blob/main/Lie_detector_neural_network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import re
import nltk

In [2]:
tf.__version__

'2.17.0'

In [3]:
df = pd.read_csv("Data/politifact_cleaned.csv")

In [4]:
df.head()

,word_count,word_length,adv_count,adj_count,noun_count,verb_count,det_count,sentiment,named_entities_count,Truth value
0,8,4.000000,0.0,1.0,4.0,1.0,1.0,-0.8591,0,NaN
1,11,5.181818,0.0,3.0,4.0,1.0,0.0,0.0000,1,NaN
2,18,4.500000,0.0,5.0,4.0,2.0,2.0,0.0000,4,NaN
3,29,5.862069,1.0,3.0,10.0,5.0,2.0,-0.7351,3,NaN
4,14,4.714286,0.0,1.0,5.0,3.0,1.0,0.5719,1,NaN

# Applying neural network model

In [5]:
# Drop rows with NaN values
df = df.dropna(subset = 'Truth value')
df['Truth value'].isna().sum()

0

In [6]:
from keras.utils import to_categorical
# One-hot encode the integer labels
y_one_hot = to_categorical(df['Truth value'], num_classes=3)

In [7]:
x = df.drop(columns = ['Truth value'])
x.shape

(893, 9)

In [8]:
y_one_hot.shape

(893, 3)

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y_one_hot, test_size = 0.2, random_state = 42)

In [10]:
X_train

,word_count,word_length,adv_count,adj_count,noun_count,verb_count,det_count,sentiment,named_entities_count
489,12,4.083333,0.0,0.0,6.0,2.0,2.0,-0.5719,0
892,24,3.791667,0.0,1.0,6.0,4.0,3.0,-0.2960,1
540,21,5.285714,0.0,3.0,8.0,4.0,1.0,-0.3818,0
863,17,5.352941,0.0,3.0,5.0,3.0,2.0,0.0000,1
1028,12,4.833333,0.0,1.0,4.0,3.0,1.0,0.4215,0
...,...,...,...,...,...,...,...,...,...
264,10,4.600000,0.0,2.0,5.0,1.0,0.0,-0.3818,1
428,12,4.083333,1.0,1.0,1.0,4.0,1.0,0.0000,0
1074,15,4.666667,0.0,2.0,3.0,2.0,2.0,-0.1280,1
593,14,4.214286,0.0,2.0,4.0,1.0,2.0,0.0000,1
260,11,5.181818,0.0,2.0,3.0,1.0,2.0,0.2023,1

In [11]:
y_train

array([[0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       ...,
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [12]:
y_test

array([[0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.]])

In [13]:
x.head()

,word_count,word_length,adv_count,adj_count,noun_count,verb_count,det_count,sentiment,named_entities_count
153,12,4.500000,1.0,0.0,3.0,5.0,0.0,0.2500,0
154,11,5.454545,1.0,2.0,4.0,1.0,0.0,-0.7184,2
155,16,4.687500,0.0,0.0,7.0,5.0,0.0,-0.6124,2
156,10,4.700000,1.0,2.0,3.0,2.0,0.0,0.0000,0
157,23,4.478261,0.0,0.0,7.0,7.0,1.0,0.0000,3

In [14]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [15]:
# Building ann
#inititalising the ann
ann = tf.keras.models.Sequential()

In [16]:
# adding the input layer

ann.add(tf.keras.layers.Dense(units=9,input_shape = (9,), activation='leaky_relu'))

d:\Github\Lie-detector\.venv\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [17]:
# adding the 1st hidden layer

ann.add(tf.keras.layers.Dense(units=6, activation='leaky_relu'))

In [18]:
# adding the seconf hidden layer

ann.add(tf.keras.layers.Dense(units=6, activation='leaky_relu'))

In [19]:
# adding the output layer

ann.add(tf.keras.layers.Dense(units=3, activation='softmax'))

In [20]:
# training the ann

# compiling the ann

ann.compile(optimizer = 'adam' , loss = 'categorical_crossentropy', metrics = ['accuracy']) # adam = commmon, stochastic gradient descrnt

In [21]:
# train ann on the training set

ann.fit(X_train, y_train, batch_size = 8, epochs = 100, validation_split=0.1, callbacks=[tf.keras.callbacks.EarlyStopping(patience=4)])

Epoch 1/100
81/81 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - accuracy: 0.4007 - loss: 1.1290 - val_accuracy: 0.3056 - val_loss: 1.1695
Epoch 2/100
81/81 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4305 - loss: 1.1000 - val_accuracy: 0.3194 - val_loss: 1.1414
Epoch 3/100
81/81 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.3849 - loss: 1.0885 - val_accuracy: 0.3194 - val_loss: 1.1324
Epoch 4/100
81/81 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4125 - loss: 1.0867 - val_accuracy: 0.3750 - val_loss: 1.1306
Epoch 5/100
81/81 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4293 - loss: 1.0587 - val_accuracy: 0.3472 - val_loss: 1.1251
Epoch 6/100
81/81 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4519 - loss: 1.0577 - val_accuracy: 0.3472 - val_loss: 1.1244
Epoch 7/100
81/81 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4391 - loss: 1.0663 - val_accuracy: 0.3472 - val_loss: 1.1248
Epoch 8/100
81/81 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4299 - loss: 1.0681 - val_accuracy: 0.3611 - val_loss: 1.1275
Epoch 9/100
81/81 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4300 - loss: 1.0534 - val_accuracy: 0.3611 - val_loss: 1.1261
Epoch 10/100
81/81 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4371 - loss: 1.0554 - val_accuracy: 0.3611 - val_loss: 1.1244
Epoch 11/100
81/81 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4770 - loss: 1.0334 - val_accuracy: 0.3472 - val_loss: 1.1264
Epoch 12/100
81/81 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4553 - loss: 1.0416 - val_accuracy: 0.3472 - val_loss: 1.1214
Epoch 13/100
81/81 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4319 - loss: 1.0528 - val_accuracy: 0.3472 - val_loss: 1.1258
Epoch 14/100
81/81 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4256 - loss: 1.0559 - val_accuracy: 0.3472 - val_loss: 1.1279
Epoch 15/100
81/81 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4584 - loss: 1.0462 - val_accuracy: 0.3472 - val_loss: 1.1295
Epoch 16/100
81/81 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4526 - loss: 1.0355 - val_accuracy: 0.3472 - val_loss: 1.1317

In [22]:
from sklearn.metrics import accuracy_score
y_pred = ann.predict(X_test)
y_pred_classes = np.argmax(y_pred, axis=1)
y_true = np.argmax(y_test, axis=1)
accuracy_score = accuracy_score(y_true, y_pred_classes)
print("Accuracy score:", accuracy_score)

6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step
Accuracy score: 0.41899441340782123

# Predicting result with new quote

In [23]:
nltk.download('averaged_perceptron_tagger') #used for tagging words with their parts of speech (POS)
nltk.download('wordnet')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\harsh\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\harsh\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [24]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# Download VADER lexicon (if not already downloaded)
nltk.download('vader_lexicon')
import spacy
nlp = spacy.load("en_core_web_sm")

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\harsh\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [25]:
def sentiment_score(text):
  # Create a Vader SentimentIntensityAnalyzer object
  analyzer = SentimentIntensityAnalyzer()
  # Get sentiment scores (compound score for overall sentiment)
  sentiment = analyzer.polarity_scores(text)
  return sentiment["compound"]

def named_entities(text):
  # Create a spaCy document
  doc = nlp(text)
  # Extract named entities and their labels (PERSON, ORG, etc.)
  entities = [(entity.text, entity.label_) for entity in doc.ents]
  return entities

In [26]:
def preprocess_quote(quote):
  adv_count = 0
  adj_count = 0
  noun_count = 0
  verb_count = 0
  det_count = 0
  words = quote.split()
  tagged_words = nltk.pos_tag(words)
  for word, tag in tagged_words:
    if tag.startswith('RB'):
      adv_count += 1
    elif tag.startswith('JJ'):
      adj_count += 1
    elif tag.startswith('NN'):
      noun_count += 1
    elif tag.startswith('VB'):
      verb_count += 1
    elif tag.startswith('DT'):
      det_count += 1
  word_count = len(quote.split())
  word_length = sum(len(word) for word in quote.split())
  sentiment = sentiment_score(quote)
  named_entitity = named_entities(quote)
  named_entities_count = len(named_entitity)

  return word_count,word_length,adv_count,adj_count,noun_count,verb_count,det_count,sentiment, named_entities_count

In [27]:
word_count,word_length,adv_count,adj_count,noun_count,verb_count,det_count,sentiment, named_entities_count = preprocess_quote("Hello i am anushree")

In [28]:
noun_count

2

In [38]:
new_df = pd.DataFrame(preprocess_quote("This is a project has a good accuracy and a bear made it."))

In [39]:
# Saving the pickle file for the scaler
import pickle
with open('scaler.pkl', 'wb') as file:
    pickle.dump(sc, file)

In [40]:
check = new_df.transpose()
# Applying the scaling to the new data
check = sc.transform(check)

d:\Github\Lie-detector\.venv\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [41]:
# Make predictions
new_quote_prediction = ann.predict(new_df.transpose())
new_quote_prediction_class = np.argmax(new_quote_prediction)

# Print the prediction
if new_quote_prediction_class == 0:
  print("The new quote is likely to be true.")
elif new_quote_prediction_class == 1:
  print("The new quote is likely to be mostly true or half-true.")
else:
  print("The new quote is likely to be false or pants-on-fire.")

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step
The new quote is likely to be true.